/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap');

/*Image Responsiveness*/
.responsive {
  width: 100%;
  height: auto;
}

/*Link Color*/
.dark a:link {
  color: #4cb7e1;
  background-color: transparent;
  text-decoration: none;
}
.dark a:visited {
  color: #c648c2;
  background-color: transparent;
  text-decoration: none;
}
.dark a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.dark a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

/* Text styles */
* {
  font-size: 16px;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 2em;
}

h2 {
  font-weight: 700;
  font-size: 1.3em;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
